spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/mlvision
    username: mlvision
    password: mlvision
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  flyway:
    enabled: true

server:
  port: 8080

app:
  api-key: change-me
